/*
 * I need to read these two:
 * https://getbem.com/introduction/
 * https://smacss.com/
 * 
 * Use this to order CSS properties.
 * (Taken and edited from https://github.com/necolas/idiomatic-css)
 *
 * .selector {
 * 		Positioning
 * 	position: absolute;
 * 	z-index: 10;
 * 	top: 0;
 * 	right: 0;
 * 	bottom: 0;
 * 	left: 0;
 *
 * 		Display & Box Model
 * 	display: flex;
	flex-direction: column;
 * 	overflow: hidden;
 * 	box-sizing: border-box;
 * 	flex: 0 1;
 * 	max-width: 100%
 * 	width: 100px;
 * 	max-height: 100%;
 * 	height: 100px;
 * 	padding: 10px;
 * 	border: 10px solid #333;
 * 	margin: 10px;
 *
 * 		Other
 * 	background: #000;
 * 	color: #fff;
 * 	font-family: sans-serif;
 * 	font-size: 16px;
 * 	text-align: right;
 * 	animation: 3s ease-out 1s 1 normal forwards running slide;
 * }
 */

/* || Global Variables */

/* || Base */

body {
	max-width: 100vw;
}

/* || Layout */

/* || Module */

/* || State */

/* || Theme */

.background-color-normal-type {
	background-color: #9FA19F;
}

.background-color-fighting-type {
	background-color: #FF8000;
}

.background-color-flying-type {
	background-color: #81B9EF;
}

.background-color-poison-type {
	background-color: #9141CB;
}

.background-color-ground-type {
	background-color: #915121;
}

.background-color-rock-type {
	background-color: #AFA981;
}

.background-color-bug-type {
	background-color: #91A119;
}

.background-color-ghost-type {
	background-color: #704170;
}

.background-color-steel-type {
	background-color: #60A1B8;
}

.background-color-fire-type {
	background-color: #E62829;
}

.background-color-water-type {
	background-color: #2980EF;
}

.background-color-grass-type {
	background-color: #3FA129;
}

.background-color-electric-type {
	background-color: #FAC000;
}

.background-color-psychic-type {
	background-color: #EF4179;
}

.background-color-ice-type {
	background-color: #3DCEF3;
}

.background-color-dragon-type {
	background-color: #5060E1;
}

.background-color-dark-type {
	background-color: #624D4E;
}

.background-color-fairy-type {
	background-color: #EF70EF;
}

.font-size-half {
	font-size: 0.5rem;
}

.height-4rem {
	height: 4rem;
}

#image-female-grunt {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	left: auto;
	height: 100vh;
	width: auto;
	opacity: 0.125;
	image-rendering: pixelated;
	animation: 30s linear 0s infinite normal none running grunt-slide,
	           30s step-end 0s infinite normal none running grunt-flip;
}

#image-team-rocket-logo {
	height: 4rem;
	width: auto;
}

.image-pokedollar {
	display: inline-block;
	height: 1rem;
	width: 0.5rem;
	image-rendering: pixelated;
}

.image-card {
	height: 24rem;
	width: auto;
	image-rendering: pixelated;
}

/* || Animations */

@keyframes grunt-slide {
	0% {
		right: 0;
		left: auto;
	}
	50% {
		right: calc(100vw - 100vh);
		left: auto;
	}
	100% {
		right: 0;
		left: auto;
	}
}

@keyframes grunt-flip {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}