/* || Global Variables */

:root {
	--max-width: 1440px;
	--background-secondary-transparent: #31313180;
}

/* || Base*/

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: lightyellow;
	color: black;
	accent-color: gold;
	scrollbar-color: gold;
}

header,
main,
footer > div {
	width: min(80vw + 4rem, var(--max-width));
	margin: 0 auto;
	text-align: center;
}

header {
	padding-top: 2rem;
}

main {
	position: relative;
	padding: 2rem 0;
}

footer {
	padding: 1rem 0;
	background-color: gray;
}

footer p {
	color: white;
}

footer a:link {
	color: white
}

footer a:visited {
	color: white
}

main a:hover {
	text-decoration: none;
}

main a:active {
	color: gray;
	background-color: darkgray;
	text-decoration: none;
}

h1,
p {
	margin: 0;
}

h2,
strong {
	font-size: 2rem;
}

h3 {
	color: green;
}

hr {
	margin: 2rem 1rem;
}

/* || Layout*/

.l-constrained,
.l-constrained-inline {
	width: fit-content;
	margin: 0 1rem;
}

.l-constrained-inline {
	display: inline-block;
}

.l-flexbox {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
}

.l-right {
	float: right;
}

/* || Module*/

#main-slideshow,
#main-intro {
	position: relative;
	overflow: hidden;
}

#main-slideshow {
	height: 4rem;
	width: min(80vw + 4rem, var(--max-width));
}

#main-slideshow-wrapper {
	position: absolute;
	overflow: hidden;
	height: 4rem;
	width: calc(3 * min(80vw + 4rem, var(--max-width)));
	animation: 16s ease-in-out 0s infinite alternate both running main-slideshow-slide;
}

.main-slide {
	float: left;
	height: 4rem;
	width: min(80vw + 4rem, var(--max-width));
	outline: thin solid white;
	background-color: gold;
	text-align: center;
}

.main-slide p {
	margin: 0.5rem 0;
}

#main-intro {
	position: relative;
	height: 75vh;
	background: center url("../images/intro_img2.jpg");
}

#absolute-textbox-main,
#absolute-textbox-article0 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4rem;
	margin: 10% 10%;
}

#absolute-textbox-main {
	outline: thick solid white;
	background-color: gray;
}

#absolute-textbox-article0 {
	outline: thin solid gold;
	background-color: transparent;
}

#absolute-textbox-article0 p {
	color: white;
	font-size: 2rem;
	text-shadow: 0 0 1rem black;
}

#article0,
#article1,
.sale-item {
	flex: 1 1 0;
	height: 32rem;
	min-width: 16rem;
	padding: 2rem;
}

#article0 {
	position: relative;
	background: linear-gradient(#e6646580, #9198e580),
	            center url("../images/intro_img1.jpg");
}

#article1 {
	background: linear-gradient(#e6646580, #9198e580);
	border: thin solid white;
	color: green;
	text-align: left;
}

.modal-header {
	height: 2rem;
	border-bottom: thin solid darkgray;
	margin-bottom: 1rem;
	background-color: gray;
}

.modal-header a {
	float: right;
	width: 2rem;
	height: 2rem;
	border-bottom: thin solid black;
	border-left: thin solid black;
	background-color: darkgray;
	color: red;
	text-decoration: none;
}

/* || State*/

#is-open-item1,
#is-open-item2,
#is-open-item3,
#is-open-item4,
#is-open-item5,
#is-open-item6 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: var(--background-secondary-transparent);
	pointer-events: none;
	transition: all 500ms ease-in-out;
}

#is-open-item1:target,
#is-open-item2:target,
#is-open-item3:target,
#is-open-item4:target,
#is-open-item5:target,
#is-open-item6:target {
	z-index: 1;
	opacity: 1;
	pointer-events: auto;
}

#is-open-item1-modal,
#is-open-item2-modal,
#is-open-item3-modal,
#is-open-item4-modal,
#is-open-item5-modal,
#is-open-item6-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 28rem;
	height: fit-content;
	padding-bottom: 1rem;
	margin: auto;
	background-color: white;
	text-align: center;
	transform: translate(0, -100vh);
	transition: all 500ms ease-in-out;
}

#is-open-item1:target #is-open-item1-modal {
	opacity: 1;
	transform: translate(0, 0);
}

#is-open-item2:target #is-open-item2-modal {
	opacity: 1;
	transform: translate(0, 0);
}

#is-open-item3:target #is-open-item3-modal {
	opacity: 1;
	transform: translate(0, 0);
}

#is-open-item4:target #is-open-item4-modal {
	opacity: 1;
	transform: translate(0, 0);
}

#is-open-item5:target #is-open-item5-modal {
	opacity: 1;
	transform: translate(0, 0);
}

#is-open-item6:target #is-open-item6-modal {
	opacity: 1;
	transform: translate(0, 0);
}

/* || Theme*/

#logo {
	display: inline-block;
	width: 8rem;
	height: 8rem;
	border: thin solid gold;
	border-radius: 1rem;
	margin: 0 auto;
	box-shadow: 0 0 0.125rem 0.125rem gold;
	animation: 3s cubic-bezier(0, 1, 0, 1) 0s infinite normal none running logo-shake;
}

#main-title {
	color: gold;
	font: italic 3rem fantasy;
	animation: 2s cubic-bezier(1, 0, 0, 1) 0s infinite alternate none running rock;
}

#main-subtitle {
	text-align: center;
	animation: 2s cubic-bezier(1, 0, 0, 1) 1s infinite alternate backwards running rock;
}

.sale-item-image {
	height: 16rem;
	width: auto;
}

.price-tag {
	display: block;
	font-size: 1.5rem;
	animation: 1s cubic-bezier(0, 1, 0, 1) 0s infinite normal none running logo-shake;
}

.button-add-to-bag {
	transform: translate(-0.25rem, -0.25rem);
	display: block;
	width: 8rem;
	padding: 0.5rem 1rem;
	margin: 2rem auto 0 auto;
	background-color: darkgray;
	color: white;
	box-shadow: 0.5rem 0.5rem gray;
	font-size: 1.5rem;
	text-decoration: none;
}

.button-add-to-bag:hover {
	transform: translate(0, 0);
	box-shadow: 0.25rem 0.25rem gray;
}

.link-icon {
	height: 4rem;
	width: auto;
}

#author-name {
	clear: right;
}

/* || Animations*/

@keyframes logo-shake {
	0% {
		transform: translate(0, 0) rotate(0);
	}
	2% {
		transform: translate(1rem, 1rem) rotate(5deg);
	}
	4% {
		transform: translate(0, 0) rotate(0);
	}
	6% {
		transform: translate(-1rem, 1rem) rotate(-5deg);
	}
	8% {
		transform: translate(0, 0) rotate(0);
	}
	10% {
		transform: translate(1rem, 1rem) rotate(5deg);
	}
	12% {
		transform: translate(0, 0) rotate(0);
	}
	14% {
		transform: translate(-1rem, 1rem) rotate(-5deg);
	}
	16% {
		transform: translate(0, 0) rotate(0);
	}
}

@keyframes rock {
	from {
		transform: translateX(2rem) rotate(2deg);
	}
	to {
		transform: translateX(0) rotate(-2deg);
	}
}

@keyframes main-slideshow-slide {
	20% {
		left: 0
	}
	40% {
		left: calc(-1 * min(80vw + 4rem, var(--max-width)));
	}
	60% {
		left: calc(-1 * min(80vw + 4rem, var(--max-width)));
	}
	80% {
		left: calc(-2 * min(80vw + 4rem, var(--max-width)));
	}
	100% {
		left: calc(-2 * min(80vw + 4rem, var(--max-width)));
	}
}