/*
 * I need to read these two:
 * https://getbem.com/introduction/
 * https://smacss.com/
 * 
 * Use this to order CSS properties.
 * (Taken and edited from https://github.com/necolas/idiomatic-css)
 *
 * .selector {
 * 		Positioning
 * 	position: absolute;
 * 	z-index: 10;
 * 	top: 0;
 * 	right: 0;
 * 	bottom: 0;
 * 	left: 0;
 *
 * 		Display & Box Model
 * 	display: flex;
	flex-direction: column;
 * 	overflow: hidden;
 * 	box-sizing: border-box;
 * 	flex: 0 1;
 * 	max-width: 100%
 * 	width: 100px;
 * 	max-height: 100%;
 * 	height: 100px;
 * 	padding: 10px;
 * 	border: 10px solid #333;
 * 	margin: 10px;
 *
 * 		Other
 * 	background: #000;
 * 	color: #fff;
 * 	font-family: sans-serif;
 * 	font-size: 16px;
 * 	text-align: right;
 * 	animation: 3s ease-out 1s 1 normal forwards running slide;
 * }
 */

/* || Global Variables */

:root,
[data-bs-theme=light] {
	--bs-primary: #dc3545;
	--bs-primary-rgb: 220, 53, 69;
	--bs-primary-text-emphasis: #58151c;
	--bs-primary-bg-subtle: #f8d7da;
	--bs-primary-border-subtle: #f1aeb5;
	--bs-link-color: #dc3545;
	--bs-link-color-rgb: 220, 53, 69;
	--bs-link-hover-color: #b02a37;
	--bs-link-hover-color-rgb: 176, 42, 55;
	--black-white: #ffffff;
	--black-white-invert: #000000;
}

[data-bs-theme=dark] {
	color-scheme: dark;
	--bs-primary-text-emphasis: #ea868f;
	--bs-primary-bg-subtle: #2c0b0e;
	--bs-primary-border-subtle: #842029;
	--bs-link-color: #ea868f;
	--bs-link-hover-color: #f5bfc4;
	--bs-link-color-rgb: 234, 134, 143;
	--bs-link-hover-color-rgb: 245, 191, 196;
	--black-white: #000000;
	--black-white-invert: #ffffff;
}

.btn-primary {
	--bs-btn-bg: #dc3545;
	--bs-btn-border-color: #dc3545;
	--bs-btn-hover-bg: #b52b38;
	--bs-btn-hover-border-color: #b02a37;
	--bs-btn-focus-shadow-rgb: 227, 93, 106;
	--bs-btn-active-bg: #b02a37;
	--bs-btn-disabled-bg: #dc3545;
	--bs-btn-disabled-border-color: #dc3545;
}

/* || Base */

body {
	overflow-x: hidden;
	max-width: 100vw;
}

/* || Layout */

.l-w-fit-content {
	width: fit-content;
}

.l-h-6rem {
	height: 6rem;
}

.l-h-9rem {
	height: 9rem;
}

/* || Module */

.box-image-card {
	background-image: linear-gradient(var(--black-white), var(--bs-primary-bg-subtle)) !important;
}

/* || State */

/* || Theme */

.background-color-normal-type {
	background-color: #9FA19F;
}

.background-color-fighting-type {
	background-color: #FF8000;
}

.background-color-flying-type {
	background-color: #81B9EF;
}

.background-color-poison-type {
	background-color: #9141CB;
}

.background-color-ground-type {
	background-color: #915121;
}

.background-color-rock-type {
	background-color: #AFA981;
}

.background-color-bug-type {
	background-color: #91A119;
}

.background-color-ghost-type {
	background-color: #704170;
}

.background-color-steel-type {
	background-color: #60A1B8;
}

.background-color-fire-type {
	background-color: #E62829;
}

.background-color-water-type {
	background-color: #2980EF;
}

.background-color-grass-type {
	background-color: #3FA129;
}

.background-color-electric-type {
	background-color: #FAC000;
}

.background-color-psychic-type {
	background-color: #EF4179;
}

.background-color-ice-type {
	background-color: #3DCEF3;
}

.background-color-dragon-type {
	background-color: #5060E1;
}

.background-color-dark-type {
	background-color: #624D4E;
}

.background-color-fairy-type {
	background-color: #EF70EF;
}

.height-4rem {
	height: 4rem;
}

#image-female-grunt {
	position: fixed;
	z-index: -1;
	top: 4rem;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	opacity: 0.125;
	image-rendering: pixelated;
	animation: 30s linear 0s infinite normal none running grunt-slide,
	           30s step-end 0s infinite normal none running grunt-flip;
}

#image-team-rocket-logo {
	height: 4rem;
	width: auto;
}

.image-pokedollar {
	display: inline-block;
	height: 1rem;
	width: 0.5rem;
	image-rendering: pixelated;
}

.text-black-white-invert {
	color: var(--black-white-invert);
}

.image-card {
	height: 12rem;
	width: auto;
	image-rendering: pixelated;
	animation: 3s step-end 0s infinite normal none running pokemon-fidget;
}

.text-coupon-accepted,
.text-coupon-denied,
.text-coupon-used {
	display: none;
}

/* || Animations */

@keyframes grunt-slide {
	0% {
		right: -75vh;
	}
	50% {
		right: 100vw;
	}
	100% {
		right: -75vh;
	}
}

@keyframes grunt-flip {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes pokemon-fidget {
	92% {
		transform: translateY(0);
	}
	94% {
		transform: translateY(-1rem);
	}
	96% {
		transform: translateY(0);
	}
	98% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}